@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&amp;display=swap';


div.text {
	background: linear-gradient(to bottom right, #fff, #808080, #383838, #000);
	background-size: 300%;
	font-family: Co
  font-weight: 10000;
	font-size: 2.5vw;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 5.5s ease-in-out infinite;
	-moz-animation: animated_text 5.5s ease-in-out infinite;
	-webkit-animation: animated_text 5.5s ease-in-out infinite;
}
@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

div.stop {
	background: linear-gradient(to bottom right, #808080, #383838, #000);
	background-size: 300%;
	font-weight: 10000;
	font-size: 1.5vw;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 5.5s ease-in-out infinite;
	-moz-animation: animated_text 5.5s ease-in-out infinite;
	-webkit-animation: animated_text 5.5s ease-in-out infinite;
}
@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

.sparkle{background-image:url(../../cdn.discordapp.com/attachments/975129514499772516/1043554950350897242/sparkle.gif)}

.noise{
    z-index:1
}

.fixed-fluid{
    top:0;
    left:0;
    opacity:.12;
    width:200%;
    height:200%;
    position:absolute;
    pointer-events:none
}

html{
    height:-webkit-fill-available
}
body{
    background-color:none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    padding: 0;
    margin: 0;
    height: 200%;
    overflow-y: hidden;
    max-width: 200%;
    overflow-x: hidden;
    background-position:center top
}

.wsg {
    text-align: center;
    font-family: monospace;
    animation: wsglol 3s infinite;
  }

  @keyframes wsglol {
    0% { color: #8b0000; }
    12.5% { color: #8B4000; }
    37.5% { color: #8B8000; }
    50% { color: #023020; }
    62.5% { color: #00008B; }
    75% { color: #AA336A; }
    87.5% { color: #310062; }
    100% { color: #301934; }
  }

#enter{
    top:0;
    left:0;
    z-index:3;
    opacity:1;
    width:100%;
    height:100vh;
    cursor:pointer;
    position:fixed;
    text-align:center;
    background-color: #000;
    transition:opacity .5s
}
.begin{
    top:50%;
    left:50%;
    color:#fff;
    position:absolute;
    font-weight: normal;
    font-size: 20px;
    transform:translate(-50%,-50%);font-family:"Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}
#main{
    z-index:2
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: transparent;
  text-align: center;
}
.row-centered {
    text-align: center;
}
body {
    background-color: rgb(6,6,6);
    padding: 0;
    margin: 0;
    height: 200%;
    font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    text-align: center;
    color: white;
}

}

font-family: 'PF Tempesta Five', sans-serif;
font-family: 'PF Tempesta Five Extended', sans-serif;
font-family: 'PF Tempesta Five Condensed', sans-serif;
font-family: 'PF Tempesta Five Compressed', sans-serif;

h2{
    margin: 100px 0 0 0;
    font-size: 26px;
}

.description{
    font-size: 17px;
}
input[type=text]{
    background-color: rgb(44, 44, 44);
    padding: 5px 8px;
    font-size: 16px;
    border: solid 1px rgb(133, 133, 133);
    border-radius: 3px;
    color: white;
    width: 250px;
}
input[type=number]{
    background-color: rgb(44, 44, 44);
    padding: 5px 8px;
    font-size: 16px;
    border: solid 1px rgb(133, 133, 133);
    border-radius: 3px;
    color: white;
    width: 40px;
}

input[type=text]:focus{
    outline: none;
}
input[type=submit]{
    padding: 5px 8px;
    font-size: 16px;
    border: solid 1px rgb(133, 133, 133);
    background-color: rgb(61, 61, 61);
    border-radius: 3px;
    color: white;
}
div.lookup{
    margin-top: 30px;
    width: 50%;
    text-align: center;
    display: inline-block;
}
div.results{
    width: 50%;
    background-color: rgb(61, 61, 61);
    border: solid 1px gray;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 0;
}
div.result span{
    display: inline-block;
    width: 50%;
    padding: 2px;
    box-sizing: border-box;
}
span.left{
    font-weight: bold;
}
h4{
    margin: 30px 0 0 0;
    font-size: 20px;
}
    @keyframes slide {
     0% {
         background-position-x: 0%;
     }
     100% {
         background-position-x: 30vw;
     }
    }
    pre2 {
     font-weight: bold;
     font-size: 16px;
     user-select: none;
     color: hwb(0 61% 0%);
     background: repeating-linear-gradient(120deg, hwb(0 100% 0%) 0%, green 20%, hwb(0 100% 0%) 20%);
     background-size: 60vw 60vw;
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     animation: slide2 4s linear infinite forwards;
    }
    pre3 {
     -webkit-animation: fadein 2s;
     font-weight: bold;
     font-size: 16px;
     user-select: none;
     color: hwb(0 61% 0%);
     background: repeating-linear-gradient(120deg, hwb(0 100% 0%) 0%, green 20%, hwb(0 100% 0%) 20%);
     background-size: 60vw 60vw;
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     animation: slide 10s linear infinite forwards;
    }
    @keyframes slide2 {
     0% {
         background-position-x: 0%;
     }
     100% {
         background-position-x: 30vw;
     }
    }
.sidebar small {
    color: #b5b5b5;
    font-weight: bold;
    margin-left: 20px;
}

.sidebar h1 {
    font-size: 140%;
}

.sidebar h1, .sidebar p, .sidebar small {
    font-family: monospace !important;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75), 0px 0px 5px rgba(0, 0, 0, 0.75);
}

.cw {
    height: 100%;
    min-height: 100%;
}

#p {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4 {
    color: rgb(240, 240, 240);
}

.sub {
    font-size: 80%;
}

.link:before {
    content: "[ ";
}

.link:after {
    content: " ]";
}

.hhh {
    margin-top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden !important;
    max-height: 400px;
    filter: grayscale(1) contrast(200%);
}

.spoiler {
    background-color: white;
    color: white;
}

.spoiler:hover {
    background-color: black;
}

p, span {
    color: white;
    font-family: monospace;
}

.wonderfulblur {
    background: rgb(0 0 0/5%);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    -ms-backdrop-filter: blur(2px);
    border: 2px ridge darkgrey;
    margin: related;
    padding: 10px 0;
    border-radius: 10px;
}

.lolgsw {
    max-width: 10000000px;
    margin: related;
    margin-bottom: 15px;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
}

.nd {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.link, .link:visited {

    color: white;
    text-transform: uppercase;
    font-family: monospace;
    white-space: pre;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
}

.link:hover {
    color: #f4ab21;
    text-decoration: none;
    text-underline: none;

}
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
}

.glowml {
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -10;
}

.leg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -9;
}


@media screen and (max-width: 300px) {
    .cursor {
        width: 80px;
        min-width: 80px;
        height: 220px;
    }
}
* {
    cursor: url(https://cur.cursors-4u.net/holidays/hol-1/hol39.cur), auto !important;
}


